
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.depth-first{
	width: 100%;
	background: #333;
}
.wrapper .f-left-wrap {
	height: 100vh;
}

.wrapper{
	display: inline-flex;
	width: 100%;
}
.wrapper .f-left-wrap,
.wrapper .f-right-wrap{
}

.wrapper .f-left-wrap{
	width: 45%;
}
.wrapper .f-right-wrap{
	width: 55%;
}

.wrapper .f-left-wrap .typing-wrap{
	position: relative;
	top: 40%;
}
/* DEMO-SPECIFIC STYLES */
.wrapper .f-left-wrap .typing-wrap h1 {
  color: #fff;
  font-size: 2em;
  font-family: 'Zen Dots', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s infinite;

    position: relative;
    top: 50%;
    left: 10%;	
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.f-right-wrap .blocks-wrap{
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
	position: relative;
	top: 5%;
}

.f-right-wrap .blocks-wrap div{	
	display: inline-block;
	width: 18%;
	background: orange;
	content: '';
	height: 16vh;
}

.f-right-wrap .blocks-wrap div.circles{	
	width: 18%;
	background: #39f;
	content: '';
	height: 16vh;
	border-radius: 50%;
}


.changeBackground {
	transition: all .3s ease-in-out;
	transform: rotate(-50deg);
}

.changeBackgroundd {
	background: red;
	transition: all .3s ease-in-out;
	transform: rotate(0deg);

}

.depth-scnd{
	background: #333;
	width: 100%;
	height: 100vh;
}

.depth-scnd .wrapper{
	width: 100%;
}

.scnd-nav{
	display: block;
	width: 100%;
	position: absolute;
	left: 0%;
	top: 93%;
}

.scnd-nav ul {
    width: 100%;
    padding: 0.3em 2em 1.1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.scnd-nav ul li{
	width: 10%;
	text-align: center;
	font-size: 1.3em;
	margin: 0 0.5em;
	list-style: none;
}

.scnd-nav ul li a{
	text-decoration: none;
}


.svg-wrap{
	width:20%;
	position: relative;
}

#svg2{
	transform: scale(0.2);
	animation: loading-pulse 1.6s infinite ease-in-out; 
}


@keyframes loading-pulse {
  0%, 100% {
    transform: scale(0.2);
  }
  10% {
    transform: scale(0.25);
  }
  20% {
    transform: scale(0.3);
  }
}


#defs{
	width: 100%;
}

.depth-scnd{
	display: inline-flex;
}
.depth-scnd  .scnd-first-txt{
	color: #fff;
	position: relative;
	top: 5%;
	left: 25%;
	width: 20%;
	height: 10vh;
	letter-spacing: 0.07em;
	font-size: 3em;
font-family: 'Ubuntu', sans-serif;
}

.scnd-scnd-txt{
float: right;
    color: #fff;
    position: relative;
    top: 5%;
    left: -5%;
    width: 100%;
    text-align: right;
    height: 10vh;
    letter-spacing: 0.07em;
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}

.svg-wrap{
	display: inline-block;
}

.scnd-contents{
	width: 50%;
	position: relative;
	left: 25%;
	display: inline-block;

}

.scnd-contents h4{
	color: #fff;
	line-height: 2;
	margin: 1em 0;
	font-size: 1.15em;
}

.scnd-contents [type=button]{
    position: relative;
    top: 10%;
    left: 33%;
    padding: 1em;
    width: 30%;
    font-size: 1.3em;
    cursor: pointer;
}



.depth-third{
	width: 100%;
	height: auto;
	background: #333;
	padding: 3em 0;
}

.depth-third h1{
	font-size: 2.3em;
	padding: 1em 0.5em;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.1em;
	color: #fff;
}

.depth-third h4,
.depth-third h2{
	color: #111;
	padding: 1em 0.5em 0;
}

.depth-third h2{
	text-indent: 2em;}

.depth-third h4{
	text-indent: 2.5em;
	font-size: 1.45em;
	letter-spacing: 0.05em;
}

.job-w-wrap{
	width: 80%;
	background: #fff;
	display: block;
	margin: 0 auto;
	padding: 0.3em;
	border-radius: 2em;
}

.job-table-wrap{
	width: 90%;
	color: #111;
	display: block;
	margin: 3em auto;
}

.table-header{
	border: 2px solid;
	font-weight: bold;
	font-size: 1.2em;
}
p{
  font-size: 16pt;
  margin-bottom: 30%;
}
.cell-job-table{
	text-align: center;
	padding: 1em;
	border-top: 5px solid #d3d3d3;
}


.cell-job-table:first-child{
	border-top: 5px solid red;
}

.td-ul{
	padding: 1em 2em
}

.posi-wrap{
	text-align: center;
	font-weight: 600;
}


.job-scnd{
	margin: 3em auto;
}

.depth-fourth{
	width: 100%;
	height: auto;
	background: #333;
	padding: 3em 0;
}

.perform-wrap{
	width: 100%;
	display: inline-flex;
}

.perform-blocks{
	width: 33.3%;
}

.perform-img{
	width: 100%;
	height: 60vh;
}
